.profile
  img(src = profile.avatar).avatar
  .deets
    p.bio= profile.name
      if meta && meta.canonical
        | 
        a.link(href = "/"+meta.canonical style = "color: "+profile.color+";")= meta.canonical
        | 
        a.link(href = "http://"+meta.canonical style = "color: grey;") .json
      if profile.bio
        br
        | #{profile.bio}
      if profile.website
        br
        a.link(href = profile.website style = "color: "+profile.color+";")= profile.website.replace("http://","")
      if profile.location
        br
        if profile.position
          -
            profile.position = profile.position.replace(" ","");
            pos = profile.position.split(",");
          a.link(href = "https://www.openstreetmap.org/?mlat="+pos[0]+"&mlon="+pos[1]+"#map=6/"+pos[0]+"/"+pos[1] style="color: "+profile.color+";") 🌍:#{profile.location}→
        else
          p.link(style="color: "+profile.color+";") 🌍:#{profile.location}