extends layout
block content
  include utils.pug
  .rotonde(
    style = "outline-color: "+profile.color+"; color: "+tc(profile.color)+"; background-color: "+bc(profile.color)+"; "
    )
    include profile.pug
    .feed-container
      .col
        .title
          hr(noshade).line
          h home
          hr(noshade).line
        each entry in feed
          .post(style = "border-color: "+profile.color+";")
            if entry.hasOwnProperty("media")
              a(href=entry.media)
                img.media(src=entry.media)
            p.text= entry.text
              |  
              if entry.hasOwnProperty("url")
                a.link(href = entry.url style="color: "+profile.color+";")= "→"
            if entry.hasOwnProperty("time")
              p.date= formatDate(new Date(parseInt(entry.time * 1000)))
            if getOption(meta,"SinglePost")
              a.link.right(href="/"+meta.canonical+"/single-post/"+entry.id) permalink
      .col
        .title
          hr(noshade).line
          h portal
          hr(noshade).line
        each entry in portalFeed
          .post(
            style = "outline-color: "+entry.profile.color+"; color: "+tc(entry.profile.color)+"; background-color: "+bc(entry.profile.color)+"; "
            )
            if entry.post.hasOwnProperty("media")
              a(href=entry.post.media style="background-color: "+entry.profile.color+";")
                img.media(src=entry.post.media style="background-color: "+entry.profile.color+";")
            img.feedavatar(src = entry.profile.avatar)
            .postcontent
              p.text.feedtext= entry.post.text
                |  
                if entry.post.hasOwnProperty("url")
                  a.link(href = entry.post.url style="color: "+entry.profile.color+";")= "→"
              p.date
                |Posted 
                if entry.post.hasOwnProperty("time")
                  | #{formatDate(new Date(parseInt(entry.post.time * 1000)))}
                |  by 
                a.link(href = "/"+entry.url.replace("http://","") style="color: "+entry.profile.color+";")= entry.profile.name
                | 
                a.link(href = entry.url style="color: grey;") .json
                    
